<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sapphire.microphone"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="2.0" >

    <uses-sdk
        android:maxSdkVersion="22"
        android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.microphone" />

    <application
        android:name=".MicrofonApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/MicrofonTheme" >
        <activity
            android:name=".activities.MainFragmentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.CheckHardwareActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.CameraRoleActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.RecordQualityActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name=".core.SaveVideoServiceFFMPEG"
            android:process=":MergeVideoFFMPEG" />
        <service android:name=".core.ConcatVideoService" />
        <service android:name=".core.MicService" />
        <service android:name=".core.CameraService" />

        <activity
            android:name=".activities.CameraActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.FTPActivity" />
        <activity
            android:name=".activities.MuxActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".activities.VideoViewActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.ChooseLanguageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="metrica:api:key"
            android:value="30647" />

        <service
            android:name="com.yandex.metrica.MetricaService"
            android:enabled="true"
            android:exported="true"
            android:process=":Metrica" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.yandex.metrica.IMetricaService" />

                <data android:scheme="metrica" />
            </intent-filter>

            <meta-data
                android:name="metrica:api:level"
                android:value="4" />
        </service>

        <receiver
            android:name="com.yandex.metrica.MetricaEventHandler"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.yandex.metrica.intent.action.SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.yandex.metrica.CampaignReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".receivers.MetricaContentProvider"
            android:authorities="com.sapphire.microphone.MetricaContentProvider"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>